nav {
    width: 97%;
    height: 4dvw;
    min-height: 60px;
    backdrop-filter: brightness(70%) blur(30px);
    border-bottom: 1px solid var(--background);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1.5%;
    font-size: var(--nav);
    z-index: 999;
}

#rdlabs {
    font-size: var(--logo);
}

.type {
    color: var(--primary-color)
}

.navPanel{
    display: flex;
    align-items: center;
    background-color: transparent;
    height: 100%;
    column-gap: 30px;
}

.destination{
    display: inline-block;
    background-color: transparent;
    list-style: none;
}

.destination:hover {
    animation: glow 1s ease-in-out infinite alternate;
}

.lang {
    color: var(--text);
    background-color: var(--background);
    border-radius: 5px;
    border: 2px solid var(--text);
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lang:hover {
    background-color: var(--primary-color);
}

.lang:active {
    background-color: var(--background);
}

.lang > option {
    text-align: center;
}

.active {
    color: var(--primary-color);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes glow {
    from {
      text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px var(--primary-color), 0 0 10px var(--primary-color), 0 0 12px var(--primary-color), 0 0 14px var(--primary-color), 0 0 16px var(--primary-color);
    }
    
    to {
      text-shadow: 0 0 4px #fff, 0 0 6px var(--primary-color), 0 0 8px var(--primary-color), 0 0 12px var(--primary-color), 0 0 14px var(--primary-color), 0 0 16px var(--primary-color), 0 0 18px var(--primary-color);
    }
}

@media screen and (width < 600px) {
    nav {
        height: 10dvh;
        align-self: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0px;
        width: 100%;
    }
    #rdlabs {
        margin: 0px;
        padding: 10px 0px;
    }
    .navPanel {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0px;
        background-color: var(--background);
        height: fit-content;
        padding: 5px 0px;
        box-shadow: 0 -.25px  var(--text), 0 .25px  var(--text);
    }
    .destination {
        display: flex;
        justify-content: space-around;
        font-size: 25px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .destination > a {
        height: 100%;
        font-size: 16px;
        width: 82px;
        text-align: center;
    }
}

@media screen and (width < 350px) {
    .destination > a {
        font-size: 14px;
        width: 73px;
    }
}

@media screen and (width < 290px) {
    .destination > a {
        font-size: 12px;
        width: 63px;
    }
}